<img src="<%=ice_cream.get("image_url")%>" style="width:200px;height:200px">
<br>
<a href="#ice_creams/<%=ice_cream.get("id")%>">
<%= ice_cream.get("flavor") %></a>
<br>
<p>rating</p>
<div class='rating'></div>

<div class="average-rating">
<p>Average rating</p>
</div>

<div class="my-rating">
<p>Your rating</p>
</div>

<p>put in the fridge</p>
