
<div class="ice-cream-show">
	<div class="icecream-profile">
		<img src="<%=ice_cream.get("image_url")%>" class="icecream">
		<h2><%= ice_cream.get("flavor") %><h2>
	</div>
	<div class="two-columns">
		<div class="reviews-list one-column clearfix">
		</div>

		<div class="friends-opinions one-column">
		</div>
	</div>
</div>