<div class="backdrop">
  <div id="main" class="clearfix"></div>
</div>
<script>
var _currentUserJSON = '<%= current_user.to_json(only: [:id, :username]).html_safe %>';
// debugger
// $(XiFinalProject.initialize.bind(this));
</script>