<div class="backdrop">
  <div id="main" class="clearfix"></div>
</div>
<script>
	var _currentUserJSON = '<%= current_user.to_json(only: [:id, :username]).html_safe %>';
	var flavors = <%= IceCream.all.pluck(:flavor).to_json.html_safe %>;
	var _iceCreamsJSON = '<%= IceCream.all.to_json.html_safe %>';
	var _usersJSON = '<%= User.all.to_json.html_safe %>'

	// var iceCreams = new XiFinalProject.Collections.IceCreams;
	// iceCreams.reset(iceCreamsJson);
// $(XiFinalProject.initialize.bind(this));
</script>
