
<div class="user-show">
	<h2><%= user.get("username") %><h2>
	
	<h4>Recommended Ice-creams</h4>
	<div class="recommended-list two-columns"> 
		<div class="recommended-ice-creams">
		</div>
	</div>

	<div class="two-columns">
		<div class="reviewed-list one-column">
		<h4>Reviewed Ice-creams</h4>
			<div class="reviewed-ice-creams">
			</div>
		</div>

		<div class="my-nice-box one-column">
			<p>Nice Box</p>
			<div class="refrigerated-ice-creams clearfix">
			</div>
		</div>
	</div>
</div>