<div class="user-show">
	<div class="two-columns">
		<h2><%= user.get("username") %></h2>
		<div class="avatar-div one-column">
			<img class="avatar" src="<%=user.get("avatar_url")%>" style="width:200px;height:200px">
			<br>
			<button type="button" class="not-button" data-toggle="modal" data-target="#myModal"> Change Avatar </button>

			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			      </div>
			      <div class="modal-body">
							<form>
								<div>
									<input
									  type="filepicker"
									  class="fp-new-avatar"
									  data-fp-mimetype="image/*"
									  name="image[url]"
									  data-fp-button-text="Choose Image"
									  data-fp-button-class="btn btn-default"> 
								</div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					        <input id="upload-avatar" class= "btn btn-primary" type="submit" value="Update Avatar">
					      </div>
							</form>
			      </div>
			    </div>
			  </div>
			</div>
		</div>

	
		<h4>Recommended Ice-creams</h4>
		<div class="recommended-list one-columns clearfix"> 
			<div class="recommended-ice-creams clearfix">
			</div>
		</div>
	</div>

	<div class="two-columns">
		<div class="reviewed-list one-column">
		<h4>Reviewed Ice-creams</h4>
			<div class="reviewed-ice-creams clearfix">
			</div>
		</div>

		<div class="my-nice-box one-column">
			<h5>Nice Box</h5>
			<div class="refrigerated-ice-creams clearfix">
			</div>
		</div>
	</div>
</div>

