<% if (user.id != currentUser.id){ %>
	<a href="#home">Back to home</a>
<% } %>

<div class="user-show">
	<h2><%= user.get("username") %><h2>
	<br>
	<h4>Recommended Ice-creams</h4>
	<div class="recommended-ice-creams">
	</div>
	<h4>Reviewed Ice-creams</h4>
	<div class="reviewed-ice-creams">
	</div>
	<br>
	<br>
	<h4>My Nice Box</h4>
	<div class="my-nice-box">
		<div class="refrigerated-ice-creams">
		</div>
	</div>
</div>