
<img 
	src="<%=iceCream.get("image_url")%>" 
	style="width:100px;height:100px">
<a 
	href="#ice_creams/<%= iceCream.get("id") %>">
	<%= iceCream.get("flavor") %>
</a>
rating: <%= review.get("rating") %>

