
<img class="icecream"
	src="<%=iceCream.get("image_url")%>" 
	style="width:100px;height:100px">

<div class="icecream-info">
	<a 
		href="#ice_creams/<%= iceCream.get("id") %>">
		<h3><%= iceCream.get("flavor") %></h3>
	</a>
	<div class="my-rating" id="my-rating-<%= iceCream.get('id') %>">
		<p>Your rating</p>
	</div>
</div>

