<div id="sign-up">
	<h1>WELCOME TO NICECREAM</h1>

	<%= render "layouts/errors" %>

	<form action="<%= users_url %>" method="post">
	  <label>
	    Username
	    <input class="rounded-corners" type="text" name="user[username]" value="">
	  </label>
	  <br>
	  <label>
	    Password
	    <input class="rounded-corners" type="password" name="user[password]" value="">
	  </label>
	  <br>
	  <input class= "not-button" type="submit" value="Sign Up">
	</form>
</div>