<div id="sign-up">
	<h1>WELCOME TO NICECREAM</h1>

	<h2>Sign Up</h2>

	<%= render "layouts/errors" %>

	<form action="<%= users_url %>" method="post">
	  <label>
	    Username
	    <input type="text" name="user[username]" value="">
	  </label>

	  <label>
	    Password
	    <input type="password" name="user[password]" value="">
	  </label>

	  <input type="submit" value="Sign Up">
	</form>
</div>