/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require jquery.ui.all
 *= require_self
 */

@import "bootstrap";
@import "font-awesome";

.ice-cream-item{
	float: left;
	padding: 30px;
}

#sign-up{
	margin-top: 100px
}

#main{
	padding-top: 80px;
}

body{
	font-family: "Papyrus";
	background-color: #86d2db;
	height: 100%
}

.rounded-corners{
	border-radius: 5px;
}

#main{
	width: 910px;
	margin: 0 auto;
	height: 100%;
	
}

.one-column{
	width: 440px;
	float:left;
	margin-left: 10px
}

.two-columns{
	width: 910px
}

img.icecream{
	float: left;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border: 8px solid #d89ec7;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  width: 150px;
  height: 150px;
}

.icecream-info{
	width: 340;
	float: left;
	margin-left: 20px
}

.user-review-item{

	display: block;
	height: 120px
}

.my-nice-box{
	background: white;
	border-radius: 20px;
	padding: 10px
}

.tasty-reviews{
	background: white;
	border-radius: 20px;
	padding: 10px
}

.special-navbar {
  border-radius: 80px;
  height: 160px;
  padding-top: 80px;
  top: -80px;
  width:950px;
}

.not-button{
	background: none;
	border: none
}

a{
	color: black
}

a:hover{
	text-decoration: none;
	color: #d89ec7;
}

.recommended-ice-creams{
	height: 100px;
	width: 910p;
}

h3.flavor{
	display: inline
}

p.shop{
	display: inline
}

.icecream-profile{
	height: 200px;
	width: 910p;
}

#sign-up{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
