$bgDefault      : #4e7fb6;
$bgHighlight    : #7b7aad;
$colDefault     : #ecf0f1;
$colHighlight   : #ecdbff;

.navbar-default {
  margin: 0 auto;
  border-radius: 10px;
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    float: left;
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight;
    }
  }
  .navbar-form{
    float: right;
  }
  .fix-width{
    width: 950px;
  }

  .rounded-corners{
    border-radius: 15px;
  }

  .navbar-brand{
    font-size: 22px
  }

}
