<nav class="navbar navbar-default navbar-fixed-top special-navbar" role="navigation">
<div class="container fix-width">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">NiceCream</a>
  </div>

  <div class="fix-width" id="bs-example-navbar-collapse-1">
    <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control rounded-corners" placeholder="Search">
        </div>
        <button type="submit" class="not-button">Search</button>
    </form>
    <% if signed_in? %>
      <ul class="nav navbar-nav">
          <li><a href="/#">flavors</a></li>
          <li><a href="/#home">me</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-form">
  <!--       <li id='add-dropdown' class='dropdown'>
          <button 
            class='dropdown-toggle navbar-btn btn btn-primary'
            data-toggle='dropdown'><span class='glyphicon glyphicon-plus'></span>
          </button>
        </li> -->
        <li><%= button_to "Out", session_url, method: :delete, class: "not-button" %></li>
      <ul>
    <% else %>
      <div class="nav navbar-nav navbar-form">
        <li><%= render partial: "layouts/sessionform" %></li>
        <li><%= link_to "New?", new_user_url %></li>
      </div>
  <% end %>
  </div>
</div>
</nav>

<% if flash[:errors] %>
<div class="alert alert-warning alert-dismissible" role="alert">
   <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
<%= flash[:errors].join("<br>").html_safe %>
</div>
<% end %>