
<form action="<%= session_url %>" method="post">

  <label>
    Username
    <input class="rounded-corners" type="text" name="user[username]" value="">
  </label>
  <br>
  <label>
    Password
    <input class="rounded-corners" type="password" name="user[password]" value="">
  </label>

  <button type="submit" class="not-button rounded-corners">Sign in</button>
</form>
<%= render "layouts/errors" %>