
<form action="<%= session_url %>" method="post">

  <label>
    Username
    <input id="user-name" class="rounded-corners" type="text" name="user[username]" value="">
  </label>
  <br>
  <label>
    Password
    <input id="pass-word" class="rounded-corners" type="password" name="user[password]" value="">
  </label>

  <button id="sign-in" type="submit" class="not-button rounded-corners">
    Sign in</button>
</form>
<%= render "layouts/errors" %>